/* Start Stories Section */
.Feed{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.storyReel{
    width: 100%;
    max-width: 550px;
    margin: 50px auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    width: 100%;
    height: 180px;
}
.Story{
    height: 100%;
    width: calc(100% / 4);
    min-width: 100px;
    position: relative; 
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
    cursor: pointer;
    transition: 0.1s ease-in;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Story:hover{
    transform: scale(1.07);
}
.Story .story_avatar{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
    border: 4px solid #1876f2;
    overflow: hidden;
}
.Story > h4{
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-weight: 600;
    font-size: 0.85rem;
    color: #fff;
}